{{ 'circle-frames.css' | asset_url | stylesheet_tag }}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const slider = document.querySelector(".sub-collection-slider");
    const leftBtn = document.querySelector(".left-btn");
    const rightBtn = document.querySelector(".right-btn");

    // 根据窗口宽度确定滚动距离
    function getScrollAmount() {
      // 如果屏幕宽度小于或等于768px，认为是手机端
      return window.innerWidth <= 768 ? 200 : 400;
    }

    function updateButtons() {
      if (slider.scrollLeft > 0) {
        leftBtn.style.display = "block";
      } else {
        leftBtn.style.display = "none";
      }

      if (
        Math.ceil(slider.scrollLeft + slider.clientWidth) < slider.scrollWidth
      ) {
        rightBtn.style.display = "block";
      } else {
        rightBtn.style.display = "none";
      }
    }

    updateButtons();

    slider.addEventListener("scroll", updateButtons);

    window.addEventListener("resize", updateButtons);

    leftBtn.addEventListener("click", function () {
      slider.scrollBy({
        left: -getScrollAmount(), // 根据设备类型获取滚动距离
        behavior: "smooth",
      });
    });

    rightBtn.addEventListener("click", function () {
      slider.scrollBy({
        left: getScrollAmount(), // 根据设备类型获取滚动距离
        behavior: "smooth",
      });
    });
  });
</script>

{% assign collection_handles = 'anime,naruto,all-sales,rewahard-mystery-box,og-graphics,pro-club-tees' | split: ',' %}

<div
  class="container-fluid"
  style="padding-left: 2em !important; padding-right: 2em !important"
>
  <div class="sub-collection-container">
    <button class="scroll-btn left-btn">
      <span>←</span>
      <svg
        width="40px"
        height="80px"
        viewBox="-19.04 0 75.803 75.803"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g
          id="Group_64"
          data-name="Group 64"
          transform="translate(-624.082 -383.588)"
        >
          <path
            id="Path_56"
            data-name="Path 56"
            d="M660.313,383.588a1.5,1.5,0,0,1,1.06,2.561l-33.556,33.56a2.528,2.528,0,0,0,0,3.564l33.556,33.558a1.5,1.5,0,0,1-2.121,2.121L625.7,425.394a5.527,5.527,0,0,1,0-7.807l33.556-33.559A1.5,1.5,0,0,1,660.313,383.588Z"
            fill="#ffffff"
          />
        </g>
      </svg>
    </button>
    <div class="sub-collection-slider">
      {% for block in section.blocks %}
        {% assign sub_collection = block.settings.collection %}
        {% if sub_collection %}
          <div class="collection-item">
            <a class="collection-item-link" href="{{ sub_collection.url }}">
              <svg
                class="story-list__circle j-story-circle"
                version="1.1"
                width="78"
                height="78"
                viewBox="0 0 78 78"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g fill="none" fill-rule="evenodd" stroke-linecap="round">
                  <g transform="translate(1 1)" stroke="#000000" stroke-width="2">
                    <path class="circle-path-pulse" d="m-4.3751e-15 38c0 20.987 17.013 38 38 38s38-17.013 38-38-17.013-38-38-38-38 17.013-38 38"></path>
                  </g>
                </g>
              </svg>
              <div class="collection-item-img-div">
                <img
                  src="{{ block.settings.collection_image | img_url: 'medium' }}"
                  class="collection-item-img"
                  alt="{{ sub_collection.title }}"
                >
              </div>
              <p>{{ block.settings.collection_name }}</p>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <button class="scroll-btn right-btn desk-btn">
      <span>→</span>
      <svg
        width="40px"
        height="80px"
        viewBox="-19.04 0 75.804 75.804"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g
          id="Group_65"
          data-name="Group 65"
          transform="translate(-831.568 -384.448)"
        >
          <path
            id="Path_57"
            data-name="Path 57"
            d="M833.068,460.252a1.5,1.5,0,0,1-1.061-2.561l33.557-33.56a2.53,2.53,0,0,0,0-3.564l-33.557-33.558a1.5,1.5,0,0,1,2.122-2.121l33.556,33.558a5.53,5.53,0,0,1,0,7.807l-33.557,33.56A1.5,1.5,0,0,1,833.068,460.252Z"
            fill="#ffffff"
          />
        </g>
      </svg>
    </button>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.circle-frames.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "liquid",
      "id": "circle-frames",
      "label": "t:sections.circle-frames.settings.circle-frames.label"
    }
  ],
  "blocks": [
    {
			"type": "mega_menu_collection",
			"name": "t:sections.header.blocks.mega-menu-collection.name",
			"settings" : [
				{
					"type" : "text",
					"id" : "collection_name",
					"label" : "name",
					"info" : "t:sections.header.blocks.mega-menus.settings.trigger.info"
				},
				{
					"type": "collection",
					"id": "collection",
					"label": "t:sections.all.collection.label"
				},
				{
					"type": "image_picker",
					"id": "collection_image",
					"label": "t:sections.all.image.label",
					"info": "t:sections.header.blocks.mega-menu-collection.overwrite-image.info"
				}
			]
		},
  ],
  "presets": [
    {
      "name": "t:sections.circle-frames.presets.name"
    }
  ]
}
{% endschema %}
