{% if section.settings.sticky_header_type == 'on-scroll-up' or section.settings.sticky_header_type == 'always' %}
  {% liquid
    if section.settings.sticky_header_type == 'on-scroll-up'
      assign header_class = 'sticky-header'
    elsif section.settings.sticky_header_type == 'always'
      assign header_class = 'sticky-header sticky-header-always'
    endif
  %}

  {% style %}
        :root {
        	--header-mobile-height : {{ section.settings.height }}px;
        }
        .header-mobile-section {
        	position: sticky;
        	top: 0;
        }


    {% comment %} {% if request.page_type != 'index' %}
      #marsello-widget-root {display:none;} {% endif %} {% endcomment %}
  {% endstyle %}
{% endif %}
{%- assign feature_brand = menus['feature-brands'] -%}
{%- assign view_more_menu = menus['view-more'] -%}
<script>
  const menuLinks = [
    {% for link in section.settings.menu.links %}
      {
        link: {{ link | json }}}
        title: {{ link.title | json }},
        url: {{ link.url | json }},
        type: {{ link.type | json }}
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ];
</script>
<header
  class="header-mobile {{ header_class }} color-background-1"
  id="header-mobile-menu"
>
  <div class="header-mobile__header header-mobile-position-{{ section.settings.logo_position }}">
    {% if section.settings.logo_position == 'left' %}
      {% render 'header-mobile-logo' %}
    {% endif %}
    <div class="header-mobile__left">
      <div class="header-mobile__burger-wrraper">
        <a
          href="#header-mobile-menu"
          class="header-mobile__burger header-mobile__btn full-unstyled-link"
          aria-label="burger menu button"
        >
          {% render 'icon-hamburger' %}
          {% render 'icon-close' %}
        </a>
        <noscript>
          <a href="##" class="header-mobile__no-js-close header-mobile__btn" aria-label="close menu button">
            {%- render 'icon-close' -%}
          </a>
        </noscript>
      </div>
      <a
        href=""
        class="header-mobile__search header-mobile__btn full-unstyled-link  {% if request.page_type != 'search' %} search-modal-trigger {% endif %}"
        aria-label="search button"
      >
        {% render 'icon-search' %}
      </a>
    </div>
    {% if section.settings.logo_position == 'center' %}
      {% render 'header-mobile-logo' %}
    {% endif %}
    <div class="header-mobile__right">
      {%- if settings.dark_mode_toggle -%}
        <div class="no-js-hidden header__toggle-scheme hover-opacity">
          <span
            class="header__toggle-scheme-item header__toggle-scheme-item--light"
            aria-label="{{- 'general.dark_mode.light' | t -}}"
            role="button"
          >
            {% render 'icon-light-mode' %}
          </span>
          <span
            class="header__toggle-scheme-item header__toggle-scheme-item--dark"
            aria-label="{{- 'general.dark_mode.dark' | t -}}"
            role="button"
          >
            {% render 'icon-dark-mode' %}
          </span>
        </div>
      {%- endif -%}
      <a
        href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
        class="header-mobile__account header-mobile__btn full-unstyled-link"
        aria-label="account button"
      >
        {% render 'icon-account' %}
      </a>
      <a
        href="{{ routes.cart_url }}"
        id="cart-icon-bubble-mobile"
        class="header-mobile__cart header-mobile__btn full-unstyled-link header__cart cart-open-trigger"
        aria-label="{{ 'accessibility.cart_link' | t }}"
      >
        {% render 'icon-cart' %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="header-mobile__cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">
                {{- cart.item_count -}}
              </span>
            {%- endif -%}
            <span class="visually-hidden">
              {{- 'sections.header.cart_count' | t: count: cart.item_count -}}
            </span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </div>
  <div class="animate-bg color-background-4">
    {%- if section.settings.logo_2 != blank -%}
      {%- assign image_size = section.settings.logo_width | append: 'x' -%}
      <img
        srcset="{{ section.settings.logo_2 | image_url: width: image_size }} 1x, {{ section.settings.logo_2 | image_url: width: image_size, scale: 2 }} 2x"
        src="{{ section.settings.logo_2 | image_url: width: image_size }}"
        class="header-mobile__logo-img header__heading-logo header__heading-logo--overlay show-animate"
        width="{{ section.settings.logo_width }}"
        height="{{ section.settings.logo_2.height }}"
        alt="{{ section.settings.logo_2.alt | default: shop.name | escape }}"
        loading="lazy"
      >
    {%- else -%}
      <span class="h4 show-animate">{{ shop.name }}</span>
    {%- endif -%}
  </div>
  <div class="header-mobile__menu color-background-4">
    {% if section.blocks.size == 0 %}
      <ul class="header-mobile__menu-header list-unstyled no-js-hidden">
        <li class="active">
          <a href="#menu-main" class="full-unstyled-link h6">
            {{- section.settings.heading -}}
          </a>
        </li>
        {% for block in section.blocks %}
          {% if block.settings.collection_list != blank or block.settings.blog != blank %}
            <li>
              <a href="#menu-{{ block.id }}" class="full-unstyled-link h6">
                {{- block.settings.menu_heading -}}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    <div class="header-mobile__menus list-unstyled">
      <div role="tablist" aria-label="Main Menu" class="header-mobile__menu-main">
        {%- assign is_first_tab_selected = false -%}
        <!-- Track if first tab is selected -->
        {%- for link in section.settings.menu.links -%}
          {%- if link.active and is_first_tab_selected == false -%}
            {%- assign is_first_tab_selected = true -%}
            <!-- Tab is already selected -->
          {%- endif -%}
          <button
            role="tab"
            id="tab-{{ forloop.index }}"
            aria-selected="{% if link.active %}true{% elsif forloop.first and is_first_tab_selected == false %}true{% else %}false{% endif %}"
            aria-controls="panel-{{ forloop.index }}"
            class="
              header-mobile__menu-tab
              {% if link.active %}
                current-link
              {% elsif forloop.first and is_first_tab_selected == false %}
                current-link
              {% endif %}
              {% if link.links != blank %}
                have-submenu
              {% endif %}
            "
          >
            {{- link.title | escape }}
          </button>
        {%- endfor -%}
      </div>
      {%- for link in section.settings.menu.links -%}
        <div
          class="header-mobile__menu-panels"
          role="tabpanel"
          aria-labelledby="tab-{{ forloop.index }}"
          id="panel-{{ forloop.index }}"
          {% if forloop.first or link.active %}
          {% else %}
            hidden
          {% endif %}
        >
          <nav aria-labelledby="tab-{{ forloop.index }}">
            <ul
              class="header-mobile__tabpanel list-unstyled"
            >
              {% if link.links != blank %}
                {%- for childlink in link.links -%}
                  {%- for block in section.blocks -%}
                    {% if childlink.url == block.settings.collection.url
                      or childlink.url == block.settings.external_link
                    %}
                      <li class="{% if childlink.current %}current-link{% endif %}">
                        <div class="header-mobile__childlink">
                          <img
                            src="{{ block.settings.collection_image | image_url }}"
                            alt="{{childlink.url}}"
                            class="header-mobile_sub-menu-img"
                            width="100%"
                            height="auto"
                            loading="eager"
                          >
                          {% if childlink.links != blank and link.title == 'Shop' %}
                            <button class="header-mobile__sub-menu-button" submenu-id="{{ forloop.index }}">
                              {{- childlink.title | escape -}}
                            </button>
                          {% else %}
                            <a
                              href="{{ childlink.url }}"
                              class="header-mobile__text-link {% if childlink.title == "Promotions" or childlink.title == "Points Rewards" or childlink.title == "Buy 2 Get 1 Free" %} promotions {% endif %}"
                            >
                              <span class="header-mobile__text">{{- childlink.title | escape -}}</span>
                            </a>
                          {% endif %}
                        </div>
                        {% if childlink.links != blank and link.title == 'Shop' %}
                          <div
                            class="header-mobile__sub-menu-panels"
                            id="{{ forloop.index }}"
                            hidden="true"
                          >
                            <nav>
                              <ul
                                class="header-mobile__sub-tabpanel list-unstyled"
                              >
                                {%- for grandChildlink in childlink.links -%}
                                  <li>
                                    <a href="{{ grandChildlink.url }}" class="header-mobile__sub-text-link">
                                      <span class="header-mobile__text">{{- grandChildlink.title | escape -}}</span>
                                    </a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </nav>
                          </div>
                        {% endif %}
                      </li>
                    {% endif %}
                  {%- endfor -%}
                {%- endfor -%}
              {% endif %}
            </ul>
          </nav>
        </div>
      {%- endfor -%}
      <div class="header-mobile__brand">
        <p class="header-mobile__brand-heading heading7">FEATURED BRANDS</p>
        <div class="header-mobile__brand-logo">
          {%- for link in feature_brand.links -%}
            {%- assign logo_filename = link.url
              | remove: '/collections/'
              | remove: '/pages/'
              | append: '-logo-pic'
              | append: '.png'
            -%}
            <div class="header-mobile__logo-card">
              <a href="{{ link.url }}">
                <img
                  src="{{ logo_filename | file_url }}"
                  alt="{{link.url}}"
                  class="header-mobile__logo-card-img"
                  width="100%"
                  height="auto"
                >
              </a>
            </div>
          {%- endfor -%}
        </div>
      </div>
      <div class="header-mobile_footer">
        <ul class="header-mobile_footer-menu list-unstyled">
          {%- for link in view_more_menu.links -%}
            <li class="header-mobile_footer-menu-item">
              <a href="{{ link.url }}" class="header-mobile_footer_text">
                {{ link.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</header>
<script src="{{ 'header-mobile.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.header_mobile.name",
  "class": "header-mobile-section",
  "max_blocks": 50,
  "settings": [
    {
      "type": "range",
      "id": "height",
      "min": 65,
      "max": 120,
      "step": 5,
      "default": 75,
      "label": "t:sections.header.settings.height.label",
      "info": "t:sections.header.settings.height.info"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "image_picker",
      "id": "logo_2",
      "label": "t:sections.header.settings.logo_2.label",
      "info": "t:sections.header.settings.logo_2.info"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 160,
      "step": 5,
      "default": 60,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "default": "center",
      "label": "t:sections.header.settings.logo_position.label",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        }
      ]
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.header_mobile.settings.heading.label",
      "info": "t:sections.header_mobile.settings.heading.info",
      "default": "Main"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "enable_search",
      "default": true,
      "label": "t:sections.header.settings.enable_search.label",
      "info": "t:sections.header.settings.enable_search.info"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu_collection",
      "name": "t:sections.header.blocks.mega-menu-collection.name",
      "settings": [
        {
          "type": "text",
          "id": "menu_trigger",
          "label": "name",
          "info": "t:sections.header.blocks.mega-menus.settings.trigger.info"
        },
        {
          "type": "url",
          "id": "external_link",
          "label": "external_link"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.all.collection.label"
        },
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "t:sections.all.image.label",
          "info": "t:sections.header.blocks.mega-menu-collection.overwrite-image.info"
        }
      ]
    },
    {
      "type": "collection-menu",
      "name": "t:sections.header_mobile.blocks.collection_menu.name",
      "settings": [
        {
          "type": "text",
          "id": "menu_heading",
          "label": "t:sections.header_mobile.blocks.all.heading.label",
          "default": "Collection"
        },
        {
          "type": "collection_list",
          "id": "collection_list",
          "label": "t:sections.all.collection.label"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "landscape",
              "label": "t:sections.all.image.ratio.options__1.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.all.image.ratio.options__2.label"
            },
            {
              "value": "square",
              "label": "t:sections.all.image.ratio.options__3.label"
            }
          ],
          "default": "square",
          "label": "t:sections.all.image.ratio.label"
        }
      ]
    },
    {
      "type": "article-menu",
      "name": "t:sections.header_mobile.blocks.article_menu.name",
      "settings": [
        {
          "type": "text",
          "id": "menu_heading",
          "label": "t:sections.header_mobile.blocks.all.heading.label",
          "default": "Articles"
        },
        {
          "type": "blog",
          "id": "blog",
          "label": "t:sections.header_mobile.blocks.article_menu.blog.label"
        },
        {
          "type": "range",
          "id": "article_count",
          "label": "t:sections.header_mobile.blocks.article_menu.article_count.label",
          "min": 1,
          "max": 5,
          "default": 3
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "landscape",
              "label": "t:sections.all.image.ratio.options__1.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.all.image.ratio.options__2.label"
            },
            {
              "value": "square",
              "label": "t:sections.all.image.ratio.options__3.label"
            }
          ],
          "default": "square",
          "label": "t:sections.all.image.ratio.label"
        }
      ]
    }
  ],
  "default": {}
}
{% endschema %}
